.flip-card {
  float: left;
  margin: 50 20 50 20;
  position: relative;
  background-color: transparent;
  width: 320;
  height: 400;
}

img {
  margin: 10 10 10 10;
}

.flip-card-inner {
  position: relative;
  width: 320;
  height: 400;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 320;
  height: 400;
  backface-visibility: hidden;
}

.flip-card-front {
  background-color: white;
  color: black;
  z-index: 2;
}

.flip-card-back {
  background-color: white;
  color: gray;
  transform: rotateY(180deg);
  z-index: 1;
}

.pet-name-title {
  color: gray;
  font-family: "Georgia";
  font-size: 30px;
  font-style: bold;
  margin: 25 25 25 25;
}

.pet-bio-body {
  font-size: 20;
  margin: 10% 10% 10% 10%;
}

.flip-card-results {
  left: auto;
  right: auto;
}
