.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: #ee6e73;
    /* -webkit-box-shadow: 0px 2px 6px 0px rgba(50, 50, 50, 0.75); */
    -moz-box-shadow:    0px 2px 6px 0px rgba(50, 50, 50, 0.75);
    box-shadow:         0px 2px 6px 0px rgba(50, 50, 50, 0.75);
    z-index: 9999999;
     
}
ul {
    list-style-type: none;
}
.outercontainer {
       text-align:center;
       margin-top:35%;
}
.innercontainer {
    display:inline-block;

}
#text{
	margin-top:15px;
	margin-bottom:15px;
	font-family:Times New Roman;
}